# NOTE: This file should be named prek.toml but Renovate does not support it yet.
repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-json5
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: check-xml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: check-ast
      - id: check-shebang-scripts-are-executable
      - id: requirements-txt-fixer

  - repo: meta
    hooks:
      - id: check-useless-excludes

  - repo: https://github.com/gitleaks/gitleaks
    rev: 6eaad039603a4de39fddd1cf5f727391efe9974e # frozen: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # frozen: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/rhysd/actionlint
    rev: 393031adb9afb225ee52ae2ccd7a5af5525e03e8 # frozen: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95 # frozen: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: a27a2e47c7751b639d2b5badf0ef6ff11fee893f # frozen: v0.15.4
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 099118db1761b62a9c5a3680a66fa6e2d973bcad # frozen: 0.10.7
    hooks:
      - id: uv-lock

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # frozen: v2.14.0
    hooks:
      - id: hadolint-docker

  - repo: https://github.com/markdownlint/markdownlint
    rev: 6a63be82e63a96cc8a0ba48abdbed819025ef233 # frozen: v0.15.0
    hooks:
      - id: markdownlint_docker

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: afa3737352c779377771262f6fbaaf5b4e9fd0fd # frozen: 43.46.6
    hooks:
      - id: renovate-config-validator
