name: Pre-commit Checks

on:
  pull_request:
    branches:
      - "*"

jobs:
  pre-commit-checks:
    uses: neteye-platform/repo-commons/.github/workflows/run-precommit-checks.yaml@main
    permissions:
      contents: read
