name: Security Scan

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    branches:
      - "*"

jobs:
  security-scan:
    uses: neteye-platform/repo-commons/.github/workflows/security-scan.yaml@main
    permissions:
      contents: read
