name: Security Scan

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    branches:
      - "*"

jobs:
  semgrep-scan:
    uses: neteye-platform/workflows/workflows/security-scan-workflow.yaml@main
    permissions:
      contents: read
