name: Stale Check

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  stale-check:
    uses: neteye-platform/repo-commons/.github/workflows/stale-check.yaml@main
    permissions:
      actions: write
      contents: write
      issues: write
      pull-requests: write
